.container {
    width: 1200px;
    margin: 0 auto;
    height: 1200px;
    /*background-color: red;*/
}

/*媒体查询：注意and后面空格的添加*/

/*iphone: w < 768px*/

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        /*background-color: pink;*/
    }

    
}

/*pad: w >= 768  && w< 992*/

@media screen and (max-width: 992px) and (min-width: 768px) {
    .container {
        width: 100%;
        /*background-color: blue;*/
    }
}

/*中等屏幕   w >= 992  && w<1200*/

@media screen and (max-width: 1200px) and (min-width: 992px) {
    .container {
        width: 970px;
        /*background-color: pink;*/
    }
}

img{
    width:180px;
    height:200px;
      }